
:root {
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}
#mainContainer{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 20px;
    position: relative;
    margin: 0;
}
.pokeDiv{
    background-color: gray;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pokeTypeDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.pokeType{
    border: 1px solid;
    border-radius: 1050px;
    padding: 2px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 3px black;
}
.pokeImg{
    width: 96px;
    height: 96px;
}
#controls{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    background-color: white;
}
.bottomBar{
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}